*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: rgb(94, 182, 233);
    position: relative;
    font-family: roboto, sans-serif;
}

.navbar{
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: rgb(94, 182, 233);
    z-index: 9;
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid red; */
}
.brand-logo{
    height: 25px;
    cursor: pointer;
}
.nav-link{
    text-decoration: none;
    display: flex;
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    opacity: 0.9;
}


.right-container{
    display: block;
    margin-left: auto;
}

.search-box{
    border: none;
    border-bottom: 1px solid #04810f;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
}
.search-box:focus{
    width: 400px;
    border-color: rgb(182, 40, 139);
}
.Download ,.btn{
    background: #2409d4;
    height: 40px;
    border-radius: 50px;
    width:150px ;
    color: rgb(94, 182, 233);
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
    transition: .5s;
}
.Download:hover{
    background: #40377a;
}
.titl{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.peace{
    color: #fff;
    font-size: 30px;
}
.clothes{
    display: flex;
    width: 99%;
    height: auto;
    border: 3px solid red;
    align-items: center;
    justify-content: center;
}
.box{
 
    border: 3px solid yellow;
    margin: 10px;

}
.pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.money{
    color:black;
    text-align: center;
    background-color: #fff;
    height: auto;
}

.buttons{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.btn{
    font-size: 17px;
    margin: 0 30px;
    transition: .5s;
}
.btn:hover{
    background: #2201fa;
}
.btn2{
    background-color: #0f0745;
}